*{
    background-color: grey; 

    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

p, span{
    font-family: sans-serif;
}